@import "../../../src/styles/Sizes.less";

.elementFooter {
  padding-top: @small;
  padding-bottom: @small;
  width: 100%;
  background-color: #0047ab;

  p {
    color: white;
    padding-top: @main;
  }
}

.footerContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  img {
    max-width: 200px;
    width: 100%;
  }
}

.footerBox {
  display: flex;
  gap: @main;
}
